<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; {{ now.Format "2006"}} {{ or .Site.Params.author .Site.Title }}
        </div>
    </div>
    <script>
        document.getElementById('main-nav-toggle').addEventListener('click', function () {
            var header = document.getElementById('header');
            if (header.classList.contains('mobile-on')) {
                header.classList.remove('mobile-on');
            } else {
                header.classList.add('mobile-on');
            }
        });
    </script>
</footer>
